body {
  margin: 0;
  font-family: sans-serif;
}

/*Functions here*/
/*Mixins here*/
/*Global here*/
.btn-1 :hover {
  color: #636261;
}

p {
  font-size: 0.9em;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.active {
  color: #ff9100;
}

.container {
  text-align: center;
  padding: 0.8em 1.2em;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}

.hide-mobile {
  display: none;
}

/*Header section here*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .logo {
  width: 130px;
}

@media only screen and (min-width: 1024px) {
  header .logo {
    width: 200px;
  }
}

header nav .menu {
  width: 50px;
  margin-top: 50%;
}

header nav .exit-btn {
  margin-bottom: 1em;
  margin-top: -1.3em;
  text-align: right;
  padding: 0 1.4em;
}

header nav .exit-btn img {
  width: 15px;
  cursor: pointer;
}

header nav ul {
  position: fixed;
  width: 60%;
  top: 0;
  right: 0;
  text-align: left;
  background-color: #413f3f;
  height: 100%;
  padding-top: 3em;
}

header nav ul li a {
  color: #fff;
  display: block;
  width: 100%;
  padding: 1em 2em;
  background-color: #636261;
  text-transform: uppercase;
}

header nav ul li :hover {
  background-color: #8080802d;
}

/*Hero section here*/
section.hero {
  min-height: 400px;
  max-width: 100%;
  background: url(../img/Home/child_hammock_beach_vacation_7968_1920x1080.jpg)
    no-repeat -1200px -300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media only screen and (min-width: 650px) {
  section.hero {
    background: url(../img/Home/child_hammock_beach_vacation_7968_1920x1080.jpg)
      no-repeat -850px -300px;
  }
}

@media only screen and (min-width: 1024px) {
  section.hero {
    background: url(../img/Home/child_hammock_beach_vacation_7968_1920x1080.jpg)
      no-repeat -600px;
    min-height: 650px;
  }
}

@media only screen and (min-width: 1650px) {
  section.hero {
    background: url(../img/Home/child_hammock_beach_vacation_7968_1920x1080.jpg)
      no-repeat -150px;
    min-height: 750px;
  }
}

@media only screen and (min-width: 1650px) {
  section.hero {
    background: url(../img/Home/child_hammock_beach_vacation_7968_1920x1080.jpg)
      no-repeat center;
    min-height: 900px;
  }
}

section.hero .hero-text {
  background-color: rgba(94, 93, 93, 0.5);
  color: #e4dede;
  width: 80%;
  margin: auto;
}

@media only screen and (min-width: 650px) {
  section.hero .hero-text {
    width: 60%;
  }
  section.hero .hero-text h2 {
    font-size: 2.2em;
  }
}

@media only screen and (min-width: 1024px) {
  section.hero .hero-text {
    width: 50%;
  }
  section.hero .hero-text h2 {
    font-size: 3em;
  }
  section.hero .hero-text p {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1650px) {
  section.hero .hero-text {
    width: 40%;
  }
  section.hero .hero-text h2 {
    font-size: 3.5em;
  }
  section.hero .hero-text p {
    font-size: 1.8em;
  }
}

section.hero .btn-hero {
  margin: auto;
}

section.hero a {
  background-color: #ff9100;
  border-radius: 5px;
  padding: 0.7em 1em;
  color: #fff;
  letter-spacing: 3px;
}

@media only screen and (min-width: 1650px) {
  section.hero a {
    padding: 1.2em 2em;
  }
}

/*About main here*/
main.about {
  padding: 3em 0;
}

main.about h1 {
  padding: 2em 0;
}

@media only screen and (min-width: 1650px) {
  main.about h4 {
    font-size: 1.8em;
  }
  main.about p {
    font-size: 1.1em;
  }
  main.about h1 {
    font-size: 2.6em;
  }
}

@media only screen and (min-width: 1650px) and (min-width: 1650px) {
  main.about p {
    font-size: 1.5em;
  }
  main.about h4 {
    font-size: 2.5em;
  }
  main.about h1 {
    font-size: 3.2em;
  }
}

main.about .box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main.about .box-1 div img {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  main.about .box-1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1024px) {
  main.about #services div {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

@media only screen and (min-width: 1024px) {
  main.about #services .text-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

/*Newsletter section here*/
section.newsletter {
  background-color: #e4dede;
  padding: 1em;
}

@media only screen and (min-width: 1650px) {
  section.newsletter {
    padding: 2em;
  }
  section.newsletter p {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1650px) and (min-width: 1650px) {
  section.newsletter p {
    font-size: 1.8em;
  }
}

section.newsletter h3 {
  color: #ff9100;
}

@media only screen and (min-width: 1650px) {
  section.newsletter h3 {
    font-size: 2.2em;
  }
}

@media only screen and (min-width: 1650px) {
  section.newsletter h3 {
    font-size: 3em;
  }
}

section.newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1.55em 2em;
}

@media only screen and (min-width: 650px) {
  section.newsletter form {
    display: inherit;
  }
}

@media only screen and (min-width: 1024px) {
  section.newsletter form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1650px) {
  section.newsletter form {
    padding: 2em;
  }
}

section.newsletter form button {
  background: #ff9100;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.5em 0;
  letter-spacing: 3px;
  cursor: pointer;
}

@media only screen and (min-width: 650px) {
  section.newsletter form button {
    width: 70%;
    padding: 1em 0;
  }
}

@media only screen and (min-width: 1024px) {
  section.newsletter form button {
    width: 20%;
  }
}

@media only screen and (min-width: 1650px) {
  section.newsletter form button {
    width: 10%;
    padding: 1.5em 1em;
  }
}

@media only screen and (min-width: 1650px) {
  section.newsletter form button {
    padding: 2em 1.5em;
  }
}

section.newsletter form input {
  padding: 0.5em 0;
  border: none;
}

@media only screen and (min-width: 650px) {
  section.newsletter form input {
    width: 70%;
    padding: 1em 0;
  }
}

@media only screen and (min-width: 1024px) {
  section.newsletter form input {
    width: 40%;
  }
}

@media only screen and (min-width: 1650px) {
  section.newsletter form input {
    width: 25%;
    padding: 1.5em 1em;
  }
}

@media only screen and (min-width: 1650px) {
  section.newsletter form input {
    padding: 2em 1.5em;
  }
}

/*Footer section here*/
footer {
  padding-top: 2em;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer ul li {
  padding: 0 1em;
}

@media only screen and (min-width: 1024px) {
  .show-desktop {
    display: block;
    margin: 0 auto 13% auto;
  }
  .hide-desktop {
    display: none;
  }
  header nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav ul li {
    float: left;
  }
  header nav ul li :hover {
    background-color: inherit;
    color: #e4dede;
  }
  header nav ul li a {
    color: #636261;
    background-color: inherit;
    text-align: center;
    padding: 1em 2em;
  }
  .scroll {
    width: 15px;
    margin: 5em auto;
    -webkit-animation: move 2s infinite alternate;
    animation: move 2s infinite alternate;
  }
}

@media only screen and (min-width: 1024px) and (min-width: 1650px) {
  .scroll {
    width: 25px;
  }
}

@media only screen and (min-width: 1024px) {
  @-webkit-keyframes move {
    from {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    to {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  }
  @keyframes move {
    from {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    to {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  }
  .box-1 div {
    width: 45%;
  }
}

/*Cruises starts here*/
/*Hero section 2 starts here*/
.hero-2 {
  min-height: 400px;
  background: url(../img/Cruises/MSC18015023crop.jpg) no-repeat center left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media only screen and (min-width: 650px) {
  .hero-2 {
    min-height: 450px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-2 {
    min-height: 650px;
  }
}

@media only screen and (min-width: 1650px) {
  .hero-2 {
    min-height: 750px;
  }
}

@media only screen and (min-width: 1650px) {
  .hero-2 {
    min-height: 900px;
  }
}

.hero-2 .hero-text-2 {
  background-color: rgba(34, 34, 34, 0.5);
  color: #e4dede;
  width: 80%;
  margin: auto;
}

@media only screen and (min-width: 650px) {
  .hero-2 .hero-text-2 {
    width: 60%;
  }
  .hero-2 .hero-text-2 h2 {
    font-size: 2.2em;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-2 .hero-text-2 {
    width: 50%;
  }
  .hero-2 .hero-text-2 h2 {
    font-size: 3em;
  }
  .hero-2 .hero-text-2 p {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1650px) {
  .hero-2 .hero-text-2 {
    width: 40%;
  }
  .hero-2 .hero-text-2 h2 {
    font-size: 3.5em;
  }
  .hero-2 .hero-text-2 p {
    font-size: 1.8em;
  }
}

.hero-2 .btn-hero {
  margin: auto;
}

.hero-2 a {
  background-color: #ff9100;
  border-radius: 5px;
  padding: 0.7em 1em;
  color: #fff;
  letter-spacing: 3px;
}

@media only screen and (min-width: 1650px) {
  .hero-2 a {
    padding: 1.2em 2em;
  }
}

/*Early bookings here*/
section.early-bookings {
  padding: 9em 0;
}

section.early-bookings .heading1 {
  padding-bottom: 3em;
}

section.early-bookings .heading1 h1 {
  background-color: rgba(243, 93, 6, 0.5);
}

section.early-bookings h3 {
  color: #636261;
}

section.early-bookings .img-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

section.early-bookings .img-area img {
  width: 100%;
}

@media only screen and (min-width: 650px) {
  section.early-bookings .img-area img {
    width: 400px;
    height: 280px;
  }
}

@media only screen and (min-width: 1024px) {
  section.early-bookings .img-area img {
    width: 450px;
    height: 300px;
  }
}

section.early-bookings .img-area .cruise {
  padding: 1em;
}

section.early-bookings .img-area .cruise .btn-2 {
  border: none;
  border-radius: 5px;
  background-color: #ff9100;
  padding: 0.5em 1em;
  color: #fff;
  cursor: pointer;
}

/*Promotionals here*/
section.promotions,
section.voyages {
  padding: 2em 0 3em;
}

section.promotions h2,
section.voyages h2 {
  background-color: rgba(243, 93, 6, 0.5);
}

section.promotions p,
section.voyages p {
  font-size: 1em;
  color: red;
  font-weight: bolder;
  text-decoration: underline;
}

/*Included here*/
.included {
  background-color: #e4dede;
  padding: 3em 0;
}

.included h2 {
  color: #000000;
  background-color: #cc8645;
  font-size: 0.9em;
  margin: 2em 0;
}

.included ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 2em;
}

@media only screen and (min-width: 1024px) {
  .included ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.included ul li img {
  width: 30px;
}

@media only screen and (min-width: 1650px) {
  .included ul li img {
    width: 50px;
  }
}

/*Hero section 3 here*/
.hero-3 {
  min-height: 400px;
  background: url(../img/Cruises/MSC19001768.jpg) no-repeat center left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media only screen and (min-width: 650px) {
  .hero-3 {
    min-height: 450px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-3 {
    min-height: 650px;
  }
}

@media only screen and (min-width: 1650px) {
  .hero-3 {
    min-height: 750px;
  }
}

@media only screen and (min-width: 1650px) {
  .hero-3 {
    min-height: 900px;
  }
}

.hero-3 .hero-text-3 {
  background-color: rgba(34, 34, 34, 0.5);
  color: #e4dede;
  width: 80%;
  margin: auto;
}

@media only screen and (min-width: 650px) {
  .hero-3 .hero-text-3 {
    width: 60%;
  }
  .hero-3 .hero-text-3 h2 {
    font-size: 2.2em;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-3 .hero-text-3 {
    width: 50%;
  }
  .hero-3 .hero-text-3 h2 {
    font-size: 3em;
  }
  .hero-3 .hero-text-3 p {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1650px) {
  .hero-3 .hero-text-3 {
    width: 40%;
  }
  .hero-3 .hero-text-3 h2 {
    font-size: 3.5em;
  }
  .hero-3 .hero-text-3 p {
    font-size: 1.8em;
  }
}

.hero-3 .btn-hero {
  margin: auto;
}

.hero-3 a {
  background-color: #ff9100;
  border-radius: 5px;
  padding: 0.7em 1em;
  color: #fff;
  letter-spacing: 3px;
}

@media only screen and (min-width: 1650px) {
  .hero-3 a {
    padding: 1.2em 2em;
  }
}

/*GT Voyages hete*/
/*Contacts section here*/
main.contacts h1 {
  background-color: #ff9100;
  color: #fff;
}

main.contacts h2 {
  background-color: #e4dede;
  padding: 0.5em 0;
}

main.contacts div.contact-1,
main.contacts div.contact-2 {
  padding: 2em;
}

/*Quotation section here*/
main.quote {
  text-align: center;
  background-color: #e4dede;
  padding: 1em;
}

@media only screen and (min-width: 1024px) {
  main.quote {
    width: 70%;
    margin: 0 auto;
  }
}

main.quote h1 {
  background-color: #ff9100;
  padding: 0.8em;
}

@media only screen and (min-width: 1650px) {
  main.quote {
    padding: 2em;
  }
  main.quote p {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1650px) and (min-width: 1650px) {
  main.quote p {
    font-size: 1.8em;
  }
}

main.quote h3 {
  color: #ff9100;
}

@media only screen and (min-width: 1650px) {
  main.quote h3 {
    font-size: 2.2em;
  }
}

@media only screen and (min-width: 1650px) {
  main.quote h3 {
    font-size: 3em;
  }
}

@media only screen and (min-width: 1024px) {
  main.quote form {
    width: 50%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1650px) {
  main.quote form {
    width: 35%;
    margin: 0 auto;
  }
}

main.quote form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1.55em 2em;
}

@media only screen and (min-width: 1024px) {
  main.quote form label {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

main.quote form label textarea {
  padding: 3em;
}

main.quote form button {
  background: #ff9100;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 1.2em 0;
  letter-spacing: 3px;
  cursor: pointer;
}

main.quote form input {
  padding: 1em 0;
  border: solid 0 0 0 2px;
}

/*Feedback form*/
.feedback-container {
  background-image: radial-gradient(#cc8645, #ff5100);
}

form {
  width: 80%;
  margin: 3em auto;
  padding: 2em 3em;
  box-shadow: 0 0 0 2px #000000;
}

select:hover {
  width: 80%;
  margin: auto;
  padding: 2em 3em;
  box-shadow: 0 0 0 4px #ff9100;
}

.feedback form input {
  width: 100%;
  height: 2em;
  margin: 1.2em 0;
  border-radius: 5px;
}

.feedback form input:hover {
  box-shadow: 0 0 0 4px #ff9100;
}

.form-side input {
  width: 300px;
}

#destination {
  padding: 0.7em 0em;
  border-radius: 5px;
  width: 100%;
}

.feedback form button {
  background: #ff9100;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.8em 1em;
  letter-spacing: 3px;
  cursor: pointer;
}

.feedback form button:hover {
  background-color: grey;
}

.feedback form label {
  display: block;
  margin-top: 1em;
}

.feedback h1 {
  margin: 4em 0 3em 0;
}

/*Thank you*/
.thank_you-container {
  background-image: radial-gradient(#cc8645, #ff5100);
  height: 100vh;
}

.thank_you {
  margin: 8em auto;
}

.thank_you a {
  background-color: #ff9100;
  border-radius: 5px;
  padding: 0.7em 1em;
  color: #fff;
  letter-spacing: 3px;
}

.thank_you p {
  margin: 2em auto;
}

.error-nav a {
  color: #000000;
}

#health50 {
  max-width: 100%;
  margin: 3em 0;
}

.health_btn {
  background-color: #ff9100;
  border-radius: 5px;
  padding: 0.7em 1em;
  color: #fff;
  letter-spacing: 3px;
}

nav ul li a:hover {
  color: #413f3f;
}
/*# sourceMappingURL=main.css.map */
